
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap:100, 200, 300, 400, 500, 600, 700, 800, 900');
/*----------------------------Colours*/

body {
    background-color: #DAAD86;
    font-family: "Raleway", sans-serif;
}

h2 {
    font-weight: 800;
    margin-left: 5%;
    padding-top: 30px;
    color: #41B3A3;
}


/******************************Navbar************/

.col-navbar {
    width: 95%;
    margin: auto;
}

.nav-item {
    width: max-content;
    margin: auto;
    float: left;
}

.icons {
    font-size: 25px;
    padding: 10px;
    color: #41B3A3;
    width: 40%;
    float: left;
    margin-left: 60%;
}
/******************************Hero-image************/

.hero-image {
    background: url("../images/kitchen-hero.jpg") no-repeat;
    max-width: 90%;
    margin: auto;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

display: flex;
align-items: center;
justify-content: center;

position: relative;
}

/******************************Icons************/

