
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap:100, 200, 300, 400, 500, 600, 700, 800, 900');
/*----------------------------Colours*/

body {
    background-color: #DAAD86;
    font-family: "Raleway", sans-serif;
}


/*----------------------------Icons*/

.icons i {
    color: #41B3A3;
}